<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentación de la API de Asistencia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Documentación de la API de Asistencia</h1>

        <div class="card mb-4">
            <div class="card-header">
                <h2>Autenticación</h2>
            </div>
            <div class="card-body">
                <p>Para acceder a la API, debes incluir la siguiente clave de API como un parámetro de consulta en la solicitud:</p>
                <pre><code>API KEY(Solicitar)</code></pre>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h2>Endpoint: Obtener Datos de Asistencia</h2>
            </div>
            <div class="card-body">
                <h3>GET <code> https://api-zktp-sanchez.up.railway.app/ </code></h3>
                <p>Este endpoint te permite obtener los datos de asistencia de una o varias sucursales.</p>

                <h4>Parámetros de Consulta:</h4>
                <ul>
                    <li><code>branch</code> (opcional): El nombre de la sucursal de la cual deseas obtener los datos. Si se omite, se obtendrán los datos de todas las sucursales.</li>
                    <li><code>api_key</code> (requerido): La clave de API para la autenticación.</li>
                </ul>

                <h4>Ejemplo de Solicitud:</h4>
                <pre><code>curl -X GET " https://api-zktp-sanchez.up.railway.app/ branch=Main%20Branch&api_key=(Cargar Aqui la API KEY)"</code></pre>

                <h4>Respuesta:</h4>
                <p>La API devuelve un objeto JSON con los datos de asistencia. Ejemplo:</p>
                <pre><code>{
    "success": true,
    "data": [
        {
            "uid": "123",
            "timestamp": "2024-08-14T08:45:00",
            "status": "1",
            "punch": "0",
            "branch": "Main Branch"
        }
    ]
}</code></pre>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
